<div class="row">
    <div class="col-md-12">
        <h2>About Us</h2>
        <p>
            Hello! My name is Nareen Ibrahim, and I am currently a programming student working towards becoming a full stack developer and a part-time artist. I am passionate about coding and digital art, and I have plans to build my own brand. 
        </p>
        <p>
            In my free time, I enjoy drawing, painting, and trying out new activities like reading and roller skating. I also strive to stay healthy through fitness and mindfulness, and I’m always looking for new hobbies to explore.
        </p>

        <p>
            I have created this website for you, to purchase a variety of products, such as electronics, clothing, pet supplies..etc. I hope one of the products find their new home with you!
        </p>

        <p>
            Enjoy shopping!
        </p>
    </div>
</div>
